{{>Head}}

<div class=" container text-center">
    <div class="error mx-auto" data-text="404">404</div>
    <p class="lead text-gray-800 mb-5">Page Not Found</p>
    <p class="text-gray-500 mb-0">esc</p>
    <a href="/users/dashboard">← Back to Bienvenida</a>
</div>

<div class="  py-3 m-auto card text-center wrapper">
    <i class="fas fa-university fa-5x text-center my-2"></i>
    <small class="mb-2">Banco Digital de Chile</small>
    <h4 class=>Error 404</h4>
    <h5>La página que intentas consultar no existe :(</h5>
    <a href="/" class="mt-2">Volver al Login</a>
</div>

